.DS_Store
scripts/.DS_Store
target/debug/.fingerprint/raytracer-a1a3364b3168f85f/
target/debug/deps/raytracer-a1a3364b3168f85f
target/debug/deps/raytracer-a1a3364b3168f85f.d
target/debug/deps/raytracer-a1a3364b3168f85f.dSYM/
target/debug/incremental/raytracer-1p6zt16jcbbdf/
target/debug/raytracer-a1a3364b3168f85f
target/debug/raytracer-a1a3364b3168f85f.d
target/debug/raytracer-a1a3364b3168f85f.dSYM
